.Xresources filter=head
.config/dunst/dunstrc filter=head
.config/i3/config filter=head
.config/i3/toggle-title-bar.py filter=head
.config/i3status-rust/themes/wpg_plain.toml filter=head
.config/i3status-rust/themes/wpg_powerline.toml filter=head
.config/i3status-rust/config.toml filter=i3rs
.config/polybar/config filter=head
.config/rofi/themes/wpgtk.rasi filter=head
.teeworlds/settings_ddnet.cfg filter=teeworlds
.teeworlds/settings.cfg filter=teeworlds
.config/keepassxc/w8unlock/w8unlock.zsh filter=w8unlock
.config/keepassxc/w8unlock/log filter=null
