[submodule "vimrc"]
	path = .config/vim_runtime
	url = https://github.com/amix/vimrc
	branch = master

[submodule "ddnet"]
	path = .local/share/ddnet
	url = https://gitlab.com/marzzzello/ddnet-config.git
	branch = master
[submodule "mpv-twitch-chat"]
	path = .config/mpv/scripts/mpv-twitch-chat
	url = https://github.com/CrendKing/mpv-twitch-chat
