[submodule ".vim_runtime"]
	path = .vim_runtime
	url = https://github.com/amix/vimrc
	branch = master

[submodule ".teeworlds"]
	path = .teeworlds
	url = https://gitlab.com/marzzzello/ddnet-config.git
	branch = master
[submodule ".config/mpv/scripts/mpv-twitch-chat"]
	path = .config/mpv/scripts/mpv-twitch-chat
	url = https://github.com/CrendKing/mpv-twitch-chat
