[Desktop Entry]
Type=Application
Name=Element
Icon=im.riot.Riot
Exec=flatpak run im.riot.Riot --branch=stable --arch=x86_64 --command=/app/bin/element --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto --file-forwarding @@u %U @@
Categories=Network;InstantMessaging;Chat;VideoConference;
MimeType=x-scheme-handler/element;
StartupWMClass=element
Keywords=Matrix;matrix.org;chat;irc;communications;talk;riot;vector;
X-Flatpak=im.riot.Riot
