[Desktop Entry]
Name=Signal private
Exec=flatpak run org.signal.Signal --branch=stable --arch=x86_64 --command=signal-desktop --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto --file-forwarding @@u %U @@
Terminal=false
Type=Application
Icon=org.signal.Signal
StartupWMClass=Signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnlp;x-scheme-handler/signalcaptchap;
Categories=Network;InstantMessaging;Chat;
X-Desktop-File-Install-Version=0.26
X-Flatpak-RenamedFrom=signal-desktop.desktop;
X-Flatpak=org.signal.Signal
